<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <body>
    <div th:fragment="month">
      <label for="dueMonth" th:text="${monthTitle} + ':'"></label>
         <select class="form-control" th:attr="id=${prefix + 'Month'}, name=${prefix + 'Month'}" th:field="*{__${prefix + 'Month'}__}">
           <option value="1">Januar</option>
           <option value="2">Februar</option>
           <option value="3">März</option>
           <option value="4">April</option>
           <option value="5">Mai</option>
           <option value="6">Juni</option>
           <option value="7">Juli</option>
           <option value="8">August</option>
           <option value="9">September</option>
           <option value="10">Oktober</option>
           <option value="11">November</option>
           <option value="12">Dezember</option>
         </select>
      
    
    </div>

    <div th:fragment="globalErrors">
      <div th:if="${#fields.hasGlobalErrors()}" th:each="err : ${#fields.errors('global')}" class="alert alert-danger" role="alert">
        <span th:text="${err}"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    
    <div th:fragment="globalSuccess">
      <div th:if="${successMessages != null && !successMessages.empty}" th:each="msg : ${#successMessages}" class="alert alert-success" role="alert">
          <span th:text="${msg.text}"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
    
    <div th:fragment="deletionDialog">
        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			    <div class="modal-dialog">
			      <div class="modal-content">
			          <div class="modal-header">
			            <h5 class="modal-title" id="limitedModalLabel">'{{ deletionDialogConfig.entryName }}' Löschen</h5>
			              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			               <span aria-hidden="true">×</span>
			             </button>
			           </div>
			           <div class="modal-body">
			             <p>Kosten <strong>{{ deletionDialogConfig.entryName }}</strong> wird unwiderruflich gelöscht.</p>
			             <p>Sind Sie sicher?</p>
			           </div>
			           
			           <div class="modal-footer">
			             <a class="btn btn-secondary" href="#" data-dismiss="modal">Abbrechen</a>
			             <a class="btn btn-danger" :href="deletionDialogConfig.href">Löschen</a>
			           </div>
			          </div>
			      </div>
			  </div>
    
    </div>
  
  </body>
  
</html>