<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<body>

<div layout:fragment="content" class="container" >

<ul class="nav nav-tabs" id="fixedcostsTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="monthly-tab" data-toggle="tab" href="#monthly" role="tab" aria-controls="home" aria-selected="true">Monatliche Kosten</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="quaterly-tab" data-toggle="tab" href="#quaterly" role="tab" aria-controls="profile" aria-selected="false">Vierteljährliche Kosten</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="yearly-tab" data-toggle="tab" href="#yearly" role="tab" aria-controls="contact" aria-selected="false">Jährliche Kosten</a>
  </li>
</ul>


<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show active" id="monthly" role="tabpanel" aria-labelledby="monthly-tab">
  
  <div class="container">

  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Bezeichnung</th>
        <th>Betrag</th>
        <th>Gültig ab</th>
        <th>Gültig bis</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="cost, iter : ${monthlyFixedCosts}">
        <td th:text="${cost.name}"></td>
        <td th:text="${cost.displayAmount}"></td>
        <td th:text="${cost.displayFromDate}"></td>
        <td th:text="${cost.displayToDate}"></td>
        <td class="action-column">
          <a th:href="@{/fixedcosts/edit(id=${iter.index},type='monthly')}" class="icon-link">
           <i class="fas fa-edit"></i>
          </a>
         </td>
         <td class="action-column">
          <a th:href="@{/fixedcosts/delete(id=${iter.index},type='monthly')}" class="icon-link">
           <i class="fas fa-trash-alt"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <a th:href="@{/fixedcosts/edit(type='monthly')}">Neue monatliche Fixkosten erfassen</a>
</div>
  
  </div>
  <div class="tab-pane fade" id="quaterly" role="tabpanel" aria-labelledby="quaterly-tab">
  
    <div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Bezeichnung</th>
        <th>Fällig in</th>
        <th>Betrag</th>
        <th>Gültig ab</th>
        <th>Gültig bis</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="cost, iter : ${quaterlyFixedCosts}">
        <td th:text="${cost.name}"></td>
        <td th:text="${cost.displayDueMonths}"></td>
        <td th:text="${cost.displayAmount}"></td>
        <td th:text="${cost.displayFromDate}"></td>
        <td th:text="${cost.displayToDate}"></td>
        <td class="action-column">
          <a th:href="@{/fixedcosts/edit(id=${iter.index},type='quaterly')}" class="icon-link">
           <i class="fas fa-edit"></i>
          </a>
         </td>
         <td class="action-column">
          <a th:href="@{/fixedcosts/delete(id=${iter.index},type='quaterly')}" class="icon-link">
            <i class="fas fa-trash-alt"></i>
          </a> 
        </td>
      </tr>
    </tbody>
  </table>
  <a th:href="@{/fixedcosts/edit(type='quaterly')}">Neue jährliche Fixkosten erfassen</a>
</div>
  
  </div>
  <div class="tab-pane fade" id="yearly" role="tabpanel" aria-labelledby="yearly-tab">
  
  <div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Bezeichnung</th>
        <th>Fällig im</th>
        <th>Betrag</th>
        <th>Gültig ab</th>
        <th>Gültig bis</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="cost, iter : ${yearlyFixedCosts}">
        <td th:text="${cost.name}"></td>
        <td th:text="${cost.displayMonth}"></td>
        <td th:text="${cost.displayAmount}"></td>
        <td th:text="${cost.displayFromDate}"></td>
        <td th:text="${cost.displayToDate}"></td>
        <td class="action-column">
          <a th:href="@{/fixedcosts/edit(id=${iter.index},type='yearly')}" class="icon-link">
           <i class="fas fa-edit"></i>
          </a>
         </td>
         <td class="action-column">              
          <a th:href="@{/fixedcosts/delete(id=${iter.index},type='yearly')}" class="icon-link">
            <i class="fas fa-trash-alt"></i>
          </a> 
        </td>
      </tr>
    </tbody>
  </table>
  <a th:href="@{/fixedcosts/edit(type='yearly')}">Neue jährliche Fixkosten erfassen</a>
</div>
  </div>
</div>


</div>

</body>
</html>
