<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<body>

<div layout:fragment="content" class="container" >
<div class="container">

  <th:block th:switch="${type}">
    <h4 th:case="'monthly'">Monatliche Fixkosten hinzufügen</h4>
    <h4 th:case="'quaterly'">Vierteljährliche Fixkosten hinzufügen</h4>
    <h4 th:case="'yearly'">Jährliche Fixkosten hinzufügen</h4>
    <h4 th:case="'special'">Sonderkosten hinzufügen</h4>
  </th:block>

  <form method="post" th:action="@{/fixedcosts/{path}(path=${type})}" th:object="${model}">
    <div th:if="${#fields.hasGlobalErrors()}" class="alert alert-danger" role="alert">
      Das Ab-Datum mus vor dem Bis-Datum liegen
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

		<div class="form-group">
		   <label for="name">Bezeichnung</label>
		   <input id="name" name="name" th:field="*{name}"
		      type="text" maxlength="100" required="required"
		      class="form-control" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid': ''"
		      aria-describedby="nameHelp" placeholder="z.B. Miete">
		   <small id="nameHelp" class="form-text text-muted"
		        th:if="${!#fields.hasErrors('name')}">Der Name des zu erfassenden Kosten.</small>
		   <div class="invalid-feedback">Name darf nicht leer sein.</div>
		</div>
		<div class="form-group">
       <label for="amount">Betrag</label>
       <div class="input-group">
         <div class="input-group-prepend">
           <div class="input-group-text">€</div>
         </div>
         <input id="amount" name="amount" th:field="*{amount}"
           type="number" min="1" required="required"
           class="form-control" th:classappend="${#fields.hasErrors('amount')} ? 'is-invalid': ''"
           aria-describedby="amountHelp" placeholder="z.B. 100" >
       </div>
       <small id="amountHelp" class="form-text text-muted"
          th:if="${!#fields.hasErrors('amount')}">Der Betrag des zu erfassenden Kosten. Bitte immer nur positive Zahlen eingeben.</small>
       <div class="invalid-feedback">Der Betrag muss größer als 0 sein.</div>
    </div>
		<div class="form-group form-check">
		  <input type="checkbox" class="form-check-input" id="incoming" th:field="*{incoming}">
		  <label class="form-check-label" for="incoming" aria-describedby="incomingHelp">Eingehend</label>
		  <small id="incomingHelp" class="form-text text-muted">Anhacken, wenn es sich bei dem Betrag um einen eingehenden (z.B. Gehalt) handelt.</small>
		</div>

		<th:block th:switch="${type}">
	    <div th:case="'yearly'" class="form-group">
				    <label for="dueMonth">Ist fällig in Monat:</label>
				    <select class="form-control" id="dueMonth" name="dueMonth" aria-describedby="dueMonthHelp" th:field="*{dueMonth}">
				      <option value="1">Januar</option>
	            <option value="2">Februar</option>
	            <option value="3">März</option>
	            <option value="4">April</option>
	            <option value="5">Mai</option>
	            <option value="6">Juni</option>
	            <option value="7">Juli</option>
	            <option value="8">August</option>
	            <option value="9">September</option>
	            <option value="10">Oktober</option>
	            <option value="11">November</option>
	            <option value="12">Dezember</option>
				    </select>
				    <small id="dueMonthHelp" class="form-text text-muted">Monat in dem diese Zahlung fällig ist.</small>
	    </div>
	    <div th:case="'quaterly'" class="form-group">
	        <label for="dueMonth">Ist fällig in den Monaten:</label>
            <select class="form-control" id="dueMonth" name="dueMonth" aria-describedby="dueMonthHelp" th:field="*{dueMonth}">
              <option value="0">Januar, April, Juli, Oktober</option>
              <option value="1">Februar, Mai, August, November</option>
              <option value="2">März, Juni, September, Dezember</option>
            </select>
            <small id="dueMonthHelp" class="form-text text-muted">Monate in denen diese Zahlung fällig ist.</small>
	    </div>
	    <div th:case="'special'" th:include="fragments/components :: yearmonth(prefix='due', monthTitle='Ist fällig in Monat', yearTitle='Ist fällig im Jahr')" class="form-group"></div>
		</th:block>

		<div th:if="${type == 'monthly' || type == 'quaterly' || type == 'yearly'}">

		    <a class="btn btn-primary" data-toggle="collapse" href="#extendedOptions" role="button" aria-expanded="false" aria-controls="extendedOptions">
			    Erweiterte Optionen
			  </a>
			  <div class="collapse" id="extendedOptions">
				  <div class="card card-body">
				    <div th:include="fragments/components :: yearmonth(prefix='from', monthTitle='Wird gezahlt ab Monat', yearTitle='Wird gezahlt ab Jahr')" class="form-group"></div>
				    <div th:include="fragments/components :: yearmonth(prefix='to', monthTitle='Wird gezahlt bis Monat', yearTitle='Wird gezahlt bis Jahr')" class="form-group"></div>
				  </div>
				</div>

		</div>
		<input type="hidden" th:field="*{id}">
	  <button type="submit" class="btn btn-primary">Speichern</button>
  </form>


</div>

</div>