
<!DOCTYPE html>
<html lang="de"
  xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Die ultimative Finanzapp!</title>
    
    <link rel="icon" type="image/png" th:href="${@mvcResourceUrlProvider.getForLookupPath('/resources/favicon.png')}"/>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	  
  <style type="text/css">
    body {
      padding-top: 5rem;
    }
    .starter-template {
      padding: 3rem 1.5rem;
      text-align: center;
    }
    
	  .table td, .table th {
	      padding: .3rem;
    		vertical-align: center;
	  }
	  button.btn.btn-link.nav-link {
		color: rgba(255,255,255,.5);
	  }
	  button.btn.btn-link.nav-link:hover {
		color: rgba(255,255,255,.75);
	  }
	  a.icon-link:hover {
	    text-decoration: none;
	    color: black;
	  }
	  a.icon-link {
	    color: #6c757d;
	  }
	  
	  #load_indicator {
		  display: block;
			margin: 0 auto;
		}
	  
  </style>
  </head>
  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <div class="container">
      <a class="navbar-brand" th:href="@{/overview}">Finanz-App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="@{/overview}">Übersicht</a>
          </li>
          <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="@{/fixedcosts}">Fixkosten</a>
          </li>
          <li class="nav-item" sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="@{/specialcosts}">Sonderkosten</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Anderes
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" th:href="@{/public/changelog}">Changelog</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" th:href="@{/legal/impressum}">Impressum</a>
              <a class="dropdown-item" th:href="@{/legal/datenschutz}">Datenschutzerklärung</a>
            </div>
          </li>
        </ul>
         <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" sec:authorize="isAuthenticated()" method="post">
			     <button class="btn btn-link nav-link" type="submit">logout</button>
			   </form>
      </div>
      </div>
    </nav>
    
    <main role="main" class="container">
	    <div id="the-content" layout:fragment="content" class="container">
	        <!-- include here the content of the current page visited by the user -->
	    </div>

    </main><!-- /.container -->
<footer class="page-footer font-small pt-4">


    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://www.wondee.info"> wondee.info</a>
      
    </div>
    <!-- Copyright -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
<div id="additional-script" layout:fragment="script">
</div>
  </body>
</html>
