<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<body>

<div layout:fragment="content" class="container" >

  <h4>Überblick</h4>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Monat</th>
        <th>Fixe Kosten</th>
        <th>Sonder Kosten</th>
        <th>Saldo</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="entry : ${entries}">
        <td th:text="${entry.displayMonth}"></td>
        <td th:text="${entry.displayFixedAmount}"></td>
        <td th:text="${entry.displaySpecialAmount}"></td>
        <td th:text="${entry.displayCurrentAmount}"></td>
      </tr>
    </tbody>
  </table>
</div>



</body>
</html>