<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<body>

<div layout:fragment="content" class="container" id="overview-app">

  <h4>Überblick</h4>

  <div class="card card-body">
  <p>
    Aktueller Betrag: [[${currentamount}]] 
    <a href="#" data-toggle="modal" data-target="#exampleModalCenter" class="icon-link" >
      <i class="fas fa-edit"></i>
    </a>
  </p>
  
  </div>
  
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Monat</th>
        <th>Fixe Kosten</th>
        <th>Sonder Kosten</th>
        <th>Saldo</th>
        <th/>
        <th/>
      </tr>
    </thead>
    <tbody>
      <tr th:each="entry, iter : ${entries}">
        <td th:text="${entry.displayMonth}"></td>
        <td th:text="${entry.displayFixedAmount}"></td>
        <td th:text="${entry.displaySpecialAmount}"></td>
        <td th:text="${entry.displayCurrentAmount}" th:style="'font-weight: bold;' + (${entry.negative} ? 'color:red;' : '')"></td>
        <td>
          <a href="#" class="icon-link" th:attr="index=${iter.index}, month=${entry.displayMonth}" v-on:click="showModal($event)">
            <i class="fas fa-file-alt"></i>
          </a>
        </td>
        <td>
          <a th:href="@{/specialcosts/add(month=${entry.yearMonth.monthValue}, year=${entry.yearMonth.year})}" class="icon-link" 
                th:attr="index=${iter.index}, month=${entry.displayMonth}">
            <i class="fas fa-plus-square"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>


		<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLongTitle">Aktuellen Betrag ändern</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
			    <form method="post" th:action="@{/overview/currentamount}">
		        <div class="modal-body">
				      <div class="form-group">
				        <label for="currentamount">Aktueller Betrag</label>
				        <input type="number" class="form-control" id="currentamount" name="currentamount" 
				          aria-describedby="nameHelp" th:value="${currentamount}"/>
				        <small id="currentamountHelp" class="form-text text-muted">Der aktuell vorhandene Geldbetrag.</small>
				      </div>
			      </div>
			      <div class="modal-footer">
				      <button type="submit" class="btn btn-primary">Aktualisieren</button>
			      </div>
		      </form>      
		    </div>
		  </div>
		</div>
  
          <div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="detailsModalLabel">Details vom {{ month }}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img id="load_indicator" alt="" th:src="@{/resources/load_indicator.gif}">
                  <div v-if="specialCosts.length > 0">
                    <h6>Sonderkosten:</h6>
                    <table class="table table-striped">
                      <tbody>
                        <tr v-for="cost in specialCosts">
                         <td>{{ cost.name }}</td>
                         <td>{{ cost.displayAmount }}</td>
                        </tr>
                      </tbody>
                     </table>
                  </div>
                  
                  <p>
                  <div v-if="fixedCosts.length > 0">
                    <h6>Fixkosten:</h6>
                    <table class="table table-striped">
                      <tbody>
                        <tr v-for="cost in fixedCosts">
                         <td> {{ cost.name }}</td>
                         <td> {{ cost.displayAmount }}</td>
                         <td> {{ cost.type }}</td>
                        </tr>
                      </tbody>
                     </table>
                  </div>
                   
                  
                </div>
                <div class="modal-footer">
                </div>
              </div>
            </div>
          </div>
  
</div>

<div layout:fragment="script">
    <script th:src="@{/resources/overview.js}"></script>
</div>
</body>
</html>
