<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="fragments/layout">
<body>

<div layout:fragment="content" id="settings-app" v-cloak>
  <div class="row">
  
  <div class="col-12 col-md-3">
    <nav class="nav navbar navbar-light bg-light" role="tablist" aria-orientation="vertical" >
      <a class="navbar-brand" href="">Einstellungen</a>
      <a class="nav-link active" id="change-limit-tab" data-toggle="pill" href="#change-limit" role="tab" aria-controls="change-limit" aria-selected="true">Limit anpassen</a>
      <a class="nav-link" id="change-password-tab" data-toggle="pill" href="#change-password" role="tab" aria-controls="change-password" aria-selected="false">Passwort ändern</a>
		  <a class="nav-link" id="add-user-tab" data-toggle="pill" href="#add-user" role="tab" aria-controls="add-user" aria-selected="false">Nutzer hinzufügen</a>
		</nav>
  </div>
  <div class="col-12 col-md-9">
    <div class="row  tab-content settings-content">
	    <div id="change-limit" role="tabpanel" class="tab-pane show active" aria-labelledby="change-limit-tab">
	      <p>Setze hier das Betragslimit ab dem in der Übersicht der Saldo eingefährt werden soll.</p>
	      
	      <i>Coming soon...</i>
	    </div>
	    
	    <div id="change-password" role="tabpanel" class="tab-pane" aria-labelledby="change-password-tab">
 	    <change-password-form inline-template>
        <form @submit="changePasswordSubmit">
		      
	        <message-panel :messages="globalMessages"></message-panel>
		      <p>Gebe ein neues Passwort ein und bestätige mit deinem aktuellen Passwort.</p>
		      <validating-input label="Aktuelles Passwort" type="password" min="8" max="40" v-model="oldPassword"></validating-input>
		      
		      <new-password-input label="Neues Passwort" ref="passwordInput" v-model="newPassword"></new-password-input>
          
	        <button type="submit" class="btn btn-primary" v-bind:disabled="!valid || disabled">Speichern</button>
		    </form>
		  </change-password-form>
	    </div>
	    
	    <div id="add-user" role="tabpanel" class="tab-pane" aria-labelledby="add-user-tab">
	    <add-user-form inline-template>
			  <form @submit="addUserSubmit">

		      <message-panel :messages="globalMessages"></message-panel>
		      
			    <p>Füge einen neuen Nutzer hinzu, der auch Zugriff auf diese Finanzdaten haben soll.</p>
			    
			    <validating-input label="Name" type="text" min="4" max="40" v-model="name"></validating-input>
			    
				  <new-password-input label="Password" ref="passwordInput" v-model="password"></new-password-input>
			    
			    <button type="submit" class="btn btn-primary" v-bind:disabled="!valid || disabled">Hinzufügen</button>
			  </form>
		  </add-user-form>
	  </div>
	</div>
  </div>
</div>
</div>
<div layout:fragment="script">
  <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/resources/settings.js')}"></script>
  <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/resources/test.js')}"></script>
  
  
</div>

</body>


