<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<body>

<div id="fixedcosts-app" layout:fragment="content" class="container" >

<h3>Fixkosten Verwaltung</h3>

<div class="card card-body">
  <p>Aktuelle Bilanz: <span th:style="'font-weight: bold;' + (${currentBalance.startsWith('-')} ? 'color:red;' : '')">[[${currentBalance}]]</span></p>

</div>

<ul class="nav nav-tabs" id="fixedcostsTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="monthly-tab" data-toggle="tab" href="#monthly" role="tab" aria-controls="home" aria-selected="true">Monatliche Kosten</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="quaterly-tab" data-toggle="tab" href="#quaterly" role="tab" aria-controls="profile" aria-selected="false">Vierteljährliche Kosten</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="yearly-tab" data-toggle="tab" href="#yearly" role="tab" aria-controls="contact" aria-selected="false">Jährliche Kosten</a>
  </li>
</ul>


<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show active" id="monthly" role="tabpanel" aria-labelledby="monthly-tab">


  <table class="table table-striped" id="monthly-table">
    <thead>
      <tr>
        <th>Bezeichnung</th>
        <th>Betrag</th>
        <th class="d-none d-md-table-cell">Gültig ab</th>
        <th class="d-none d-md-table-cell">Gültig bis</th>
        <th class="d-table-cell d-md-none"></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="cost, iter : ${monthlyFixedCosts}">
        <td th:text="${cost.name}"></td>
        <td th:text="${cost.displayAmount}"></td>
        <td th:text="${cost.displayFromDate}" class="d-none d-md-table-cell"></td>
        <td th:text="${cost.displayToDate}" class="d-none d-md-table-cell"></td>
        <td class="d-table-cell d-md-none">
          <a href="#" class="icon-link" th:if="${cost.bounded}" th:attr="v-on:click=${'showModal(' + ${index} + ', ''monthly-table'')'"><i class="far fa-calendar-alt"></i></a>
        </td>
        <td class="action-column">
          <a th:href="@{/fixedcosts/edit(id=${iter.index},type='monthly', target='fixed')}" class="icon-link">
           <i class="fas fa-edit"></i>
          </a>
         </td>
         <td class="action-column">
          <a th:href="@{/fixedcosts/delete(id=${iter.index},type='monthly', target='fixed')}" class="icon-link">
           <i class="fas fa-trash-alt"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <a th:href="@{/fixedcosts/edit(type='monthly', target='fixed')}">Neue monatliche Fixkosten erfassen</a>


  </div>
  <div class="tab-pane fade" id="quaterly" role="tabpanel" aria-labelledby="quaterly-tab">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Bezeichnung</th>
        <th>Fällig in</th>
        <th>Betrag</th>
        <th class="d-none d-md-table-cell">Gültig ab</th>
        <th class="d-none d-md-table-cell">Gültig bis</th>
        <th class="d-table-cell d-md-none"></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="cost, iter : ${quaterlyFixedCosts}">
        <td th:text="${cost.name}"></td>
        <td th:text="${cost.displayDueMonths}"></td>
        <td th:text="${cost.displayAmount}"></td>
        <td th:text="${cost.displayFromDate}" class="d-none d-md-table-cell"></td>
        <td th:text="${cost.displayToDate}" class="d-none d-md-table-cell"></td>
        <td class="d-table-cell d-md-none"><a href="#" class="icon-link" th:if="${cost.bounded}"><i class="far fa-calendar-alt"></i></a></td>
        <td class="action-column">
          <a th:href="@{/fixedcosts/edit(id=${iter.index},type='quaterly', target='fixed')}" class="icon-link">
           <i class="fas fa-edit"></i>
          </a>
         </td>
         <td class="action-column">
          <a th:href="@{/fixedcosts/delete(id=${iter.index},type='quaterly', target='fixed')}" class="icon-link">
            <i class="fas fa-trash-alt"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <a th:href="@{/fixedcosts/edit(type='quaterly', target='fixed')}">Neue jährliche Fixkosten erfassen</a>
  </div>
  <div class="tab-pane fade" id="yearly" role="tabpanel" aria-labelledby="yearly-tab">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Bezeichnung</th>
        <th>Fällig im</th>
        <th>Betrag</th>
        <th class="d-none d-md-table-cell">Gültig ab</th>
        <th class="d-none d-md-table-cell">Gültig bis</th>
        <th class="d-table-cell d-md-none"></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="cost, iter : ${yearlyFixedCosts}">
        <td th:text="${cost.name}"></td>
        <td th:text="${cost.displayMonth}"></td>
        <td th:text="${cost.displayAmount}"></td>
        <td th:text="${cost.displayFromDate}" class="d-none d-md-table-cell"></td>
        <td th:text="${cost.displayToDate}" class="d-none d-md-table-cell"></td>
        <td class="d-table-cell d-md-none"><a href="#" class="icon-link" th:if="${cost.bounded}"><i class="far fa-calendar-alt"></i></a></td>
        <td class="action-column">
          <a th:href="@{/fixedcosts/edit(id=${iter.index},type='yearly', target='fixed')}" class="icon-link">
           <i class="fas fa-edit"></i>
          </a>
         </td>
         <td class="action-column">
          <a th:href="@{/fixedcosts/delete(id=${iter.index},type='yearly', target='fixed')}" class="icon-link">
            <i class="fas fa-trash-alt"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <a th:href="@{/fixedcosts/edit(type='yearly', target='fixed')}">Neue jährliche Fixkosten erfassen</a>
  </div>
</div>


          <div class="modal fade" id="limited-modal" tabindex="-1" role="dialog" aria-labelledby="limitedModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
        <h5 class="modal-title" id="limitedModalLabel">{{ name }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        Gültig von {{ from }}
        Gültig bis {{ to }}
      </div>
    </div>
            </div>
          </div>

</div>

<div layout:fragment="script">
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/resources/fixedcosts.js')}"></script>
</div>
</body>
</html>
