<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<body>

<div layout:fragment="content" class="container" id="specialcosts-app">

  <h3>Sonderausgaben Verwaltung</h3>

  <form method="post" th:action="@{/specialcosts}" th:object="${model}">
  <table class="table table-striped" id="special-table">
    <thead>
      <tr>
        <th>Bezeichnung</th>
        <th>Betrag</th>
        <th>Fällig am</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="cost, iter : ${specialCosts}">
        <td th:text="${cost.name}" class="wrap"></td>
        <td th:text="${cost.displayAmount}"></td>
        <td th:text="${cost.displayDueDate}"></td>
        <td>
          <a th:href="@{/fixedcosts/edit(id=${iter.index}, type='special', target='special')}" class="icon-link">
            <i class="fas fa-edit"></i>
          </a>
         </td>
         <td>
          <a href="#" th:attr="'v-on:click'=|showConfirmDelete(${iter.index})|" class="icon-link">
            <i class="fas fa-trash-alt"></i>
          </a>
        </td>
      </tr>

    </tbody>
  </table>
  <a th:href="@{/fixedcosts/edit(type='special', target='special')}">Neue Sonderkosten erfassen</a>
  </form>
  <div th:include="fragments/components :: deletionDialog"></div>
</div>
<div layout:fragment="script">
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/resources/deletionDialog.js')}"></script>
    <script th:src="${@mvcResourceUrlProvider.getForLookupPath('/resources/specialcosts.js')}"></script>
</div>
</body>
</html>
